:root {
    --background-color: rgba(127, 255, 212, .7);
}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: xx-large;
    margin: 0;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 5vw;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 10vh;
}

img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    flex-basis: 0;
    flex-grow: 1;
    overflow-y: scroll;
}

.big-box1,
.big-box2,
.big-box3 {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.txt-box,
.img-box {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 25px;
}


.img-box {
    width: 43%;
    margin: 1%;
}

.txt-box {
    width: 53%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 1);
    padding: 5%;
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .big-box1, 
    .big-box3 {
        flex-direction: column;
    }

    .big-box2 {
        flex-direction: column-reverse;
    }

    .img-box {
        height: 300px;
    }

    .img-box,
    .txt-box {
        width: 100%;
    }

    .container {
        padding-bottom: 2.5vh;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: xxx-large;
    }

    p{
        font-size: x-large;
    }
}